<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form 2</title>
</head>
<body>
<label for="options">Color:</label>
    <form id="options" action="results" method="post">
        <select>
            <option name="color" vale="pink">Pink</option>
            <option name="color" vale="blue">Blue</option>
            <option name="color" vale="orange">Orange</option>
            <option name="color" vale="black">black</option>
            <option name="color" vale="yellow">Yellow</option>
        </select>
        <input type="submit" value="submit">
    </form>

</body>
</html>